.container {
  max-width: 54rem;
  margin: 0 auto;
  padding: 1.2rem;
}

.profileTitle {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.photo {
  margin-right: 0.3rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid #e67700;
}

.error {
  border-color: #c92a2a;
  box-shadow: 0 0 0 0.25rem #ff6b6b;
}
