* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  color: #343a40;
}

/* COMMON */
.container {
  max-width: 54rem;
  margin: 0 auto;
  padding: 1.2rem;
}

.details-container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 1.2rem;
}

.error {
  box-shadow: 0 0 0 0.25rem #ff6b6b;
}

/* AUTH */

.auth-container {
  height: 100vh;
  background-color: #f3f0ff;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.2rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-width: 30rem;
}

.link {
  text-decoration: none;
  display: flex;
}

/* --LOGIN-- */
.login-form {
  background-color: #a5d8ff;
}

.login-inputs {
  background-color: #e7f5ff;
  border: none;
}

.login-inputs:focus {
  background-color: #e7f5ff;
}

/* --REGISTER-- */
.register-form {
  background-color: #d0bfff;
}

.register-inputs {
  background-color: #f3f0ff;
  border: none;
}

.register-inputs:focus {
  background-color: #f3f0ff;
}

/* EMPLOYEES */
.employees-container {
  max-width: 72rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  padding: 0 1.2rem;
}

/* ERROR PAGE */
.error-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backBtn {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

/* LANDING */

.landing-container {
  height: 100vh;
  background-color: #f3f0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.6rem;
}

.landing-img {
  width: 50%;
}

.landing-heading {
  font-size: 4.8rem;
  letter-spacing: -3px;
}

.easy {
  font-size: 6.4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #845ef7;
}

.btnGroup {
  display: flex;
  gap: 1rem;
}
